body {
   background: rgb(161, 161, 231);
   font: normal 15pt Arial;
}

header {
    color:thistle;
    text-align: center;
   
}

section {
    background: whitesmoke;
    border-radius: 12px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.137);


}

footer {
    color:thistle;
    text-align: center;
    font-style: italic;
    

}
